html {
    font-size: 4.5vw;
}

.heading {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
}

    .header-name {
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: .7rem;
    }

    .header-uname {
        font-size: 1.3rem;
    }
        .header-uname::before {
            content: "@";
            color: #ff0000;
        }
    
    .header-description {
        margin-top: 1rem;
    }
        .header-description::before, .header-description::after {
            content: '"';
            display: inline;
            font-size: 2rem;
            color: rgba(255, 0, 0, 0.2);
        }

.menu {
    margin-top: 2.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .button {
        padding: 0.8rem 1.2rem;
        color: #323232;
        background-color: rgba(255, 0, 0, 0.05);
        margin-bottom: .7rem;
        text-decoration: none;
        border-radius: .5rem;
        display: block;
        border: .2rem solid rgba(255, 0, 0, 0.05);
        transition: background .3s;
    }
        .button:hover {
            background: transparent;
        }
