@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,400");
@import url("./mobile.css");
@import url("./tablet.css");
@import url("./desktop.css");

* { 
    border: 0; 
    padding: 0; 
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1;
    color: #323232;
    background-color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    transform: rotate(30deg);
    display: block;
    height: 20%;
    width: 100%;
    border-top: .05rem solid rgba(0, 0, 0, .1);
    border-bottom: .05rem solid rgba(0, 0, 0, .1);
    top: 60%;
    left: -30%;
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    transform: rotate(30deg);
    display: block;
    height: 20%;
    width: 100%;
    border-top: .05rem solid rgba(0, 0, 0, .1);
    border-bottom: .05rem solid rgba(0, 0, 0, .1);
    bottom: 60%;
    right: -30%;
    z-index: -1;
}
